*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height: 60px; 
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0px 30px;
}


.nav-links{
  display: flex;
  gap: 30px;
  list-style: none;

}